<head>
  <link href="http://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="iePbSvA_tBhN_7GUwlOM1_AvIVf43zG3APwdhY45BVw" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% include google-analytics.html %}
  {% include google-edsense.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  {% include font-includes.html %}

  <!-- Icons -->
  {% include favicons.html %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

  {% include custom-head.html %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5749844995447592",
      enable_page_level_ads: true
    });
  </script>

</head>
